

<mat-card class="card">
    <img mat-card-image src="assets/images/characters/{{id}}.jpg"> 

  <mat-card-title id="title">{{character?.name}}</mat-card-title>
  <mat-card-subtitle id="subtitle">Height:</mat-card-subtitle>
  <mat-card-content>{{character?.height}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Mass:</mat-card-subtitle>
  <mat-card-content> {{character?.mass}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Hair Color:</mat-card-subtitle>
  <mat-card-content>{{character?.hair_color}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Skin Color: </mat-card-subtitle>
  <mat-card-content>{{character?.skin_color}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Eye Color: </mat-card-subtitle>
  <mat-card-content>{{character?.eye_color}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Birth Year: </mat-card-subtitle>
  <mat-card-content>{{character?.birth_year}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Gender: </mat-card-subtitle>
  <mat-card-content>{{character?.gender}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Home World: </mat-card-subtitle>
  <mat-card-content>{{character?.homeworld}}</mat-card-content>
</mat-card>