

<mat-card class="card">
    <img mat-card-image src="assets/images/characters/{{id}}.jpg"> 

  <mat-card-title id="title">{{character?.name.toUpperCase()}}</mat-card-title>

  <mat-card-content>Height:
      <span id ="content">{{character?.height}} </span></mat-card-content>

  <mat-card-content>Mass:
      <span id ="content"> {{character?.mass}}</span> </mat-card-content>

  <mat-card-content>Hair Color: 
      <span id ="content">{{character?.hair_color}}</span> </mat-card-content>

  <mat-card-content>Skin Color: 
      <span id ="content">{{character?.skin_color}} </span></mat-card-content>

  <mat-card-content>Eye Color:
      <span id ="content">{{character?.eye_color}} </span></mat-card-content>

  <mat-card-content>Birth Year:
      <span id ="content">{{character?.birth_year}} </span></mat-card-content>

  <mat-card-content>Gender: 
      <span id ="content">{{character?.gender}} </span></mat-card-content>

  <mat-card-content>Home World: 
      <span id ="content">{{character?.homeworld}}</span></mat-card-content>

    <mat-card-content >Films:
        <p id ="content" *ngFor= "let f of character?.films" class="tab">
            {{f}}
        </p>
    </mat-card-content>  
    
    <mat-card-content >Species:
        <p id ="content" *ngFor= "let s of character?.species" class="tab">
            {{s}}
        </p>
    </mat-card-content>  

    <mat-card-content >Vehicles:
        <p id ="content" *ngFor= "let v of character?.vehicles" class="tab">
            {{v}}
        </p>
    </mat-card-content> 

    <mat-card-content >Starships:
        <p id ="content" *ngFor= "let s of character?.starships" class="tab">
            {{s}}
        </p>
    </mat-card-content> 
</mat-card>