<mat-card class="card">

    <img mat-card-image src="assets/images/films/{{id}}.jpg"> 

  <mat-card-title id="title">{{film?.title.toUpperCase()}}</mat-card-title>

  <mat-card-content>Episode ID:
      <span id ="content">{{film?.episode_id}}</span> </mat-card-content>

  <mat-card-content>Opening Crawl:
      <p id ="content" class="tab"> {{film?.opening_crawl}}</p> </mat-card-content>

  <mat-card-content>Director: 
      <span id ="content">{{film?.director}} </span></mat-card-content>

  <mat-card-content>Producer: 
      <span id ="content">{{film?.producer}}</span> </mat-card-content>

  <mat-card-content>Release Date:
      <span id ="content">{{film?.release_date}}</span> </mat-card-content>
</mat-card>