<mat-card class="card">
  <img mat-card-image >

  <mat-card-title id="title">{{film?.title}}</mat-card-title>
  <mat-card-subtitle id="subtitle">Episode ID:</mat-card-subtitle>
  <mat-card-content>{{film?.episode_id}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Opening Crawl:</mat-card-subtitle>
  <mat-card-content> {{film?.opening_crawl}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Director:</mat-card-subtitle>
  <mat-card-content>{{film?.director}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Producer: </mat-card-subtitle>
  <mat-card-content>{{film?.producer}} </mat-card-content>

  <mat-card-subtitle id="subtitle">Release Date: </mat-card-subtitle>
  <mat-card-content>{{film?.release_date}} </mat-card-content>
</mat-card>