<mat-card class="card">

    <img mat-card-image src="assets/images/planets/{{id}}.jpg"> 
  
  <mat-card-content id="title">{{planet?.name.toUpperCase()}}</mat-card-content>
  
  <mat-card-content id="label">Rotation Period: 
      <span id ="content">{{planet?.rotation_period}}</span></mat-card-content>
  
  <mat-card-content id="label">Orbital Period: 
      <span id ="content">{{planet?.orbital_period}}</span></mat-card-content>
  
    <mat-card-content id="label">Diameter: 
      <span id ="content">{{planet?.diameter}}</span></mat-card-content>
  
    <mat-card-content id="label">Climate: 
      <span id ="content">{{planet?.climate}}</span></mat-card-content>
  
  <mat-card-content id="label">Gravity:
      <span id ="content">{{planet?.gravity}}</span> </mat-card-content>
  
  <mat-card-content id="label">Terrain:
    <span id ="content">{{planet?.terrain}}</span> </mat-card-content>

  <mat-card-content id="label">Surface Water:
    <span id ="content">{{planet?.surface_water}}</span> </mat-card-content>

  <mat-card-content id="label">Populatition:
    <span id ="content">{{planet?.population}}</span> </mat-card-content>
  
  <mat-card-content id="label">Residents:
    <span id ="content" *ngFor= "let r of planet?.residents">
       "{{r}}"
    </span>
      </mat-card-content>

      <mat-card-content id="label">Films:
          <span id ="content" *ngFor= "let f of planet?.films">
             "{{f}}"
          </span>
            </mat-card-content>      
  </mat-card>
